.header {
    z-index: 1;
    background-color: black;
    position: relative;
    padding: 10px 0;
    &__img {
        z-index: 2;
        position: absolute;
        -webkit-filter: invert(1);
        filter: invert(1);
        left: 80px;
        top: -210px;
        width: 350px;
        transform: scaleX(-1);
    }
    &__mobile-icon-container {
        background: rgba(255, 255, 255, 0);
        border: none;
        display:none;
    }
    &__mobile-icon {
        position: relative;
        z-index: 3;
        padding: 5px 15px;
        font-size: 30px;
    }
    &__mobile-icon--active {
        padding: 5px 15px;
        font-size: 30px;
        color: #208307;
    }
    &__nav {
        position: relative;
        z-index: 3;
    }
    &__list {
        display: flex;
        padding: 30px 10px;
        list-style-type: none;
        justify-content: flex-end;
        margin-right: 25px;
    }
    &__list-item {
        background-color: black;
        margin-left: 20px;
    }
    // &__link {
    //     margin-left: 20px;
    // }
    &__social-list {
        position: fixed;
        top: 30%;
        z-index: 3;
    }
    &__social-item {
        margin-bottom: 25px;
    }
    &__social-icon {
        color: black;
        font-size: 25px;
        background-color: rgb(74, 128, 74);
        border-radius: 50%;;
        padding: 15px 15px;
    }
    &__social-icon:hover,
    &__social-icon:focus {
        color: white;
        background-color: black;
    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    i {
        color: black;
    }
    a {
        &:hover,
        &:focus {
            border-bottom: 2px solid black;
        }
    }
}


