.about {
    z-index: 3;
    position: relative;
    color: white;
    @include grid(1fr 1fr);
    align-items: center;
    justify-items: center;
    ul {
        margin-top: 30px;
    }
    &__text-sub {
        margin-top: 12px;
    }
    &__text-container {
        border-top: 2px solid rgb(255, 255, 255);
        padding-top: 15px;
        margin-top: 25px;
    }
    &__text {
        margin: 20px 0;
        span {
            font-weight: bold;
        }
    }
    &__img-social {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img-container {
        z-index: 2;
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__social-container {
        display: none;
    }
    &__social-list {
        display: flex;
        justify-content: center;
        li {
            margin: 20px;
        }
        i {
            font-size: 25px;
        }
    }
}

.news {
    &__list {
        font-size: 16px;
        line-height: 1.8;
    }
    &__icon {
        font-size: 25px;
        color: #208307;
        cursor: auto;
    }
    &__item {
        margin-top: 25px;
    }
    span {
        font-style: italic;
    }
}

.info {
    &__text {
        margin-top: 40px;
    }
}