
h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 30px;
}
p {
    font-size: 16px;
}


.img-container {
    margin: 30px 0;
}

.sub-text {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    margin: 15px 0;
}

.post-title-center {
    text-align: center;
    margin: 20px auto 40px;
}

.title {
    width: 50%;
    margin: 0 auto 50px;
    text-align: center;
}

.post-1 {
    @include grid();
    &__container-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        i {
            z-index: -1;
            position: absolute;
            font-size: 180px;
            color: rgba(185, 24, 24, 0.171);
            top: 15%;
            left: -3%;
        }
        &__text-1 {
            width: 50%;
        }
        &__img-1 {
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
    &__container-2 {
        p:last-child {
            margin-top: 25px;
        }
    }
}


.post-2 {
    @include grid(1fr 1fr);
    &__container-1 {
        &__img-1 {
            width: 100%;
            img {
                @include dark-img();
                width: 100%;
            }
        }
    }
    &__container-2 {
        &__img-1 {
            margin: 0 auto 50px;
            width: 85%;
            img {
                width: 100%;
            }
        }
        &__img-2 {
            width: 100%;
            img {
                @include dark-img();
                width: 100%;
            }
        }
    }
}

.post-3 {
    @include grid(1fr 1fr);
    &__container-2 {
        text-align: center;
        &__img-1 {
            margin: 0 auto;
            width: 80%;
            img {
                width: 100%;
            }
        }
        &__img-2 {
            width: 100%;
            img {
                width: 20%;
            }
        }
    }
}

.post-4 {
    @include grid();
    &__container-1 {
        text-align: center;
        &__img-1 {
            width: 100%;
            img {
                @include dark-img();
                width: 60%;
            }
        }
    }
    &__container-2 {
        display: flex;
        justify-content: space-around;
        text-align: center;
        &__img-1 {
            width: 45%;
            img {
                width: 100%
            }
        }
        &__img-2 {
            width: 30%;
            img {
                width: 100%;
            }
        }
    }
}

.post-5 {
    @include grid();
    &__container-1 {
        display: flex;
        justify-content: space-around;
        text-align: center;
        &__img-1 {
            width: 45%;
            img {
                width: 100%;
            }
        }
        &__img-2 {
            width: 48%;
            img {
                @include dark-img();
                width: 100%;
            }
        }
    }
    &__container-2 {
        h3 {
            text-align: center;
        }
    }
}

.post-6 {
    @include grid(1fr 1fr);
    &__container-1 {
        &__img-1 {
            width: 100%;
            img {
                @include dark-img();
                width: 100%;
            }
        }
    }
    &__container-2 {
        &__img-1 {
            width: 100%;
            img {
                @include dark-img();
                width: 100%;
            }
        }
    }
}
