@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather&display=swap");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-size: 100%;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

body {
  font-family: 'Merriweather', serif;
}

h1, h2 {
  font-family: 'Lora', serif;
}

h1 {
  font-size: clamp(2rem, 3.4vw, 5rem);
  font-weight: bold;
}

h2 {
  font-size: clamp(1.8rem, 3vw, 4.5rem);
  line-height: 1.3;
}

p {
  font-size: clamp(0.9rem, 1.2vw, 1.3rem);
  line-height: 2;
}

p i {
  color: #33b80a;
  font-size: clamp(2rem, 2.1vw, 2.5rem);
}

a {
  text-decoration: none;
}

section {
  margin-top: 50px;
}

nav a {
  position: relative;
  color: #72007c;
}

nav a:after {
  content: '';
  display: block;
  border-bottom: 3px solid #33b80a;
  width: 0;
  position: absolute;
  right: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin-top: 5px;
}

nav a:hover:after {
  width: 100%;
}

header {
  background-image: url(../../assets/tattoo_transparent.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 7% 99%;
  height: 22vh;
}

.nav .nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .nav__list .nav__list-item {
  margin: 20px;
  font-size: clamp(1.2rem, 1.2vw, 1.5rem);
}

.nav .nav__list .nav__list-item a {
  letter-spacing: 2px;
}

.footer {
  background-color: black;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  margin-top: 100px;
}

.footer__nav-list a {
  margin: 0 25px;
  color: white;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  grid-gap: 10px;
}

.about h1 {
  line-height: 3rem;
  -webkit-box-shadow: inset 0 -0.6em 0 rgba(114, 0, 124, 0.4);
          box-shadow: inset 0 -0.6em 0 rgba(114, 0, 124, 0.4);
  display: inline;
}

.about__text-sub {
  margin-top: 10px;
}

.about__text-container {
  border-top: 2px solid #33b80a;
  margin-top: 25px;
}

.about__text-container p {
  margin-top: 20px;
}

.about__img-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img-container {
  width: 100%;
}

.about__img-container img {
  width: 100%;
}

.about__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__social-list li {
  margin: 20px;
}

.about__social-list i {
  font-size: 25px;
}

.info p {
  margin-top: 40px;
}

.info__text-container h2 {
  width: 80%;
  display: inline;
  -webkit-box-shadow: inset 0 -0.6em 0 rgba(219, 184, 29, 0.4);
          box-shadow: inset 0 -0.6em 0 rgba(219, 184, 29, 0.4);
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

.sub-text {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.post-title-center {
  text-align: center;
}

.title {
  text-align: center;
}

.post {
  padding: 100px 0;
}

.post-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5%;
}

.post-1 h2 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  text-align: center;
}

.post-1__container-1 {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.post-1__container-1 i {
  z-index: -1;
  position: absolute;
  font-size: 180px;
  color: rgba(185, 24, 24, 0.171);
  top: 10%;
  left: -3%;
}

.post-1__container-1__text-1 {
  width: 50%;
}

.post-1__container-1__img-1 {
  width: 50%;
}

.post-1__container-1__img-1 img {
  width: 100%;
}

.post-1__container-2 {
  grid-column: span 2;
}

.post-1__container-2 p:last-child {
  margin-top: 25px;
}

.post-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.post-2__container-1__img-1 {
  margin: 0 auto;
  width: 100%;
}

.post-2__container-1__img-1 img {
  width: 100%;
}

.post-2__container-2__img-1 {
  width: 100%;
}

.post-2__container-2__img-1 img {
  width: 100%;
}

.post-2__container-2__img-2 {
  width: 100%;
}

.post-2__container-2__img-2 img {
  width: 100%;
}

.post-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.post-3 h2 {
  grid-column: span 2;
}

.post-3__container-2 {
  text-align: center;
}

.post-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5%;
}

.post-4__container-1 {
  text-align: center;
}

.post-4__container-1__img-1 {
  width: 100%;
}

.post-4__container-1__img-1 img {
  width: 60%;
}

.post-4__container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.post-4__container-2__img-1 {
  width: 45%;
}

.post-4__container-2__img-1 img {
  width: 100%;
}

.post-4__container-2__img-2 {
  width: 30%;
}

.post-4__container-2__img-2 img {
  width: 100%;
}

.post-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5%;
}

.post-5__container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.post-5__container-1__img-1 {
  width: 45%;
}

.post-5__container-1__img-1 img {
  width: 100%;
}

.post-5__container-1__img-2 {
  width: 45%;
}

.post-5__container-1__img-2 img {
  width: 100%;
}

.post-5__container-2 h3 {
  text-align: center;
}

.post-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.post-6__container-1__img-1 {
  width: 100%;
}

.post-6__container-1__img-1 img {
  width: 100%;
}
